@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inter;
}

.container {
    width: 100%;
    height: 100vh;
    background-image: url(images/background.png);
    background-position: center;
    background-size: cover;
    padding: 0 7%;
    color: #fff;
}
nav {
    width: 100%;
    padding: 20px 0;
    display: flex;
    align-items: center;
}
.logo {
    width: 50px;
    cursor: pointer;
}
nav ul {
    flex: 1;
}
nav ul li {
    display: inline-block;
    margin: 10px 20px;
    transition: transform 0.3s ease;
}
nav ul li:hover {
    transform: scale(1.1);
}
nav ul li a {
    color: #fff;
    text-decoration: none;
}
nav .btn {
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 10px 30px;
    border-radius: 20px;
    transition: transform 0.3s ease;
}
nav .btn:hover {
    transform: scale(1.1);
    background: rgba(255, 255, 255, 0.1);
}
nav .btn:active {
    transform: scale(0.9);
    opacity: 0.8;
}
.content {
    margin-top: 12%;
}
.content h1 {
    font-size: 88px;
    margin-bottom: 15px;
}
.content h1 span {
    color: #ff960b;
}
.content p {
    line-height: 22px;
    font-size: 14px;
}
.content .btn {
    display: inline-block;
    margin-top: 30px;
    background: #ff960b;
    color: #fff;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 30px;
    transition: transform 0.3s ease;
}
.content .btn:hover {
    transform: scale(1.1);
}
.coin-list {
    position: absolute;
    right: 10%;
    bottom: 50px;
    display: flex;
    align-items: center;
}
.coin {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin: 0 15px;
    color: #ff960b;
    border: 1px solid #fff;
    padding: 20px 30px;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.coin:hover {
    background: rgba(255, 255, 255, 0.1);
    transform: scale(1.1);
}
.coin img {
    width: 40px;
    margin-right: 10px;
}
.coin h3 {
    color: #fff;
    margin-bottom: 5px;
}

/*crypto price section*/

.crypto-price-section {
    width: 100%;
    margin-top: 50px;
    display: flex;
    padding: 50%;
}
.sub-heading {
  margin-top: 50px;
  text-align: center;
}
.sub-heading {
  font-size: 32px;
  margin-bottom: 10px;
  color: indigo;
}
.sub-heading-p {
  font-size: 16px;
  color: #666;
  margin-top: 14px;
  text-align: center;
}
.crypto-cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.card {
  background: white;
  padding: 20px;
  border-radius: 14px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);

  width: 250px; /* controls card size */
}
.card h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.card h3 span {
  color: gray;
  font-size: 13px;
}

.price {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 6px;
}
.change {
  font-size: 14px;
  margin-bottom: 15px;
}

/* Buttons */
.buttons {
  display: flex;
  gap: 10px;
}

button {
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.buy {
  background: #eef2ff;
  color: #4f46e5;
}

.trade {
  background: #ecfdf5;
  color: #16a34a;
}